/* 
.MuiButtonBase-root.MuiButton-root.MuiButton-contained.btnsignupformparents.MuiButton-containedPrimary {
  height: 5rem;
  font-size: medium;
  font-weight: 500;
  width: 100%;
}
button.MuiButtonBase-root.MuiButton-root.MuiButton-contained.btnsignupformparents.MuiButton-containedPrimary {
  margin: auto;
  width: 100%;
}
.MuiInputBase-input {
  font-size: 2rem !important;
} */
